<!DOCTYPE html>
<html>
  <head>
    <title>Rolover</title>
    <link rel='icon' href='<%=image_path('rolover_favicon.ico') %>'>
    <%= csrf_meta_tags %>

    <!-- Latest compiled and minified CSS -->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://use.fontawesome.com/a8f196bec2.js" %>

    <!-- jQuery library -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

    <!-- Latest compiled JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  </head>

  <body>
    <%= yield %>

  </body>
</html>
